/* Algemene code */
*{
    list-style: none;
    font-family: "Amatic SC", sans-serif;
    text-align: center;
}



body{
    background-image: url(/assets/design/noise.png);
    size: 100%;
}

h1{
    font-size: 5.5em;
    margin: 0em;
}

h2{
    font-size: 3em;
    margin: 0;
    padding: 0em;
}

img{
    height: 16em;
    width: 10em;
}

section{
    width: 100%;
    align-items: center;
}

ul{
    max-width: 100%;
    width: 60%;
    margin: 0 auto; /* Houd Ul in het midden */
    padding: 0em;
}

.squad{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    gap: 1em;
}
/* wanneer het scherm 36 em word (36 EM gekozen omdat de plaatjes dan niet half op het scherm zaten) veranderen de columns in 3 ipv 2 */
@media only screen and (min-width: 36em) {
    .squad{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: dense;
        gap: 1em;
    }
}

@media only screen and (min-width: 50em) {
    .squad{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-flow: dense;
        gap: 1em;
    }
    img{
        height: 16em;
        width: 10em;
    }
}