*{
 font-family: 'Courier New', Courier, monospace;
}

header {
    border: 0.2rem solid;
    padding: 0px;
    max-width:45em;
    margin:auto;
}

h1 {
    color: rgb(213, 83, 135);
    font-size: 4em;
    text-align: center;
    background-color: purple;
}

body {
    background-color: lightPink;
}

ul {
    padding-top: 40px;
    list-style-type: none;
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    gap:1.5em;
    max-width: 70em;
    margin:auto;
}

li {
    text-align:center;
    border: 0.1em solid;
    margin: auto;
}


img {
    max-width: 20em;
    max-height: 20em;
}

.top {
    margin:auto;
    gap:0.5em;
    align-items: center;
}

.top_image{
    max-width: 25em;
    max-height:25em;
}    


.bottom {
    gap:0.5em;
}

footer{
    background-color: darkmagenta;
    
}

@media only screen and (min-width: 0em) {
    .top{
        grid-template-columns: 1fr;
    }

}

@media only screen and (min-width: 47em) {
    .top{
        grid-template-columns: 1fr 1fr 1fr;
        gap:1.0em;
    }
    .top_image{
        max-width: 20em;
        max-height: 20em;
    }
}

@media only screen and (min-width: 55em) {
    ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    img {
        max-width: 17em;
        max-height: 17em;
    }
}

@media only screen and (min-width: 69em)   {
    ul {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}