h1 {
    color: rgb(0, 0, 0);
    font-size: 80%;
}

body {
    background: repeating-linear-gradient(
        transparent,
        transparent 1px,
        #ccc 2px,
        #ccc 200px
      ),
      /* on "bottom" */ linear-gradient(to bottom, #eee, #999);
  }